<!DOCTYPE html>
<html lang="en-US">

  {% include head.html %}

    <body>

    {% include header.html %}

    <div class="splash">
      <div class="container">
          <div class="row">
            <div class="col-md-8 col-md-offset-2">
              <h1>Sharing our path to adopting our child.</h1>
              <p style="font-size:1.25em">
                In you the orphan finds mercy. -Hos. 14:3
              </p>
            </div>
          </div>
        </div>
    </div>

    <div class="container">
      {{ content }}
    </div>

    </body>
</html>